<%= form_for(@subscribe) do |f| %>
  <% if @subscribe.errors.any? %>
  <div align="center">
    <div class="errorExplanation">
      <h2><%= pluralize(@subscribe.errors.count, "error") %> , please correct your errors:</h2>

      <ul>
      <% @subscribe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div align="center">
  	<div class="f">
    	<p>Your Name: <br /><%= f.text_field :customerName %></p>
    	<p>Email Address: <br /><%= f.text_field :email %></p>
    	<button id="radio">Submit</button>
  	</div>
  </div>
<% end %>
