<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div align="center">
  <div class="f">
    <p>Your Name: <br /><%= f.text_field :customerName %></p>
    <p>Booking Date: <br /><%= f.date_select :bookingDate %></p>
    <p>Number of people: <br /><%= f.number_field :peopleNo %></p>
    <p>Contact Number: <br /><%= f.text_field :contactNumber %></p>
    <p>Email: <br /><%= f.text_field :email %></p>
    <button id="radio">Submit</button>
  </div>
 </div>
<% end %>
