<p id="notice"><%= notice %></p>

<p>
  <b>Customername:</b>
  <%= @booking.customerName %>
</p>

<p>
  <b>Bookingdate:</b>
  <%= @booking.bookingDate %>
</p>

<p>
  <b>Peopleno:</b>
  <%= @booking.peopleNo %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %>
