<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", "scaffolds", :media => "all" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
<!-- header -->
<div class="row-fluid">
	<div class="span6 offset3">
		<%= image_tag("logo.png", :alt => "logo") %>
		<ul class="nav nav-pills right">
  			<li class="active"><%= link_to 'Home', index_path(@index) %></li>
  			<li class="active"><%= link_to 'Menu', menu_path %></li>
  			<li class="active"><%= link_to 'Booking', new_booking_path %> </li>
  			<li class="active"><%= link_to 'Subscribe', new_subscribe_path %></li>
  			<li class="active"><%= link_to 'Contact', contact_path(@contact) %></li>
		</ul>
	</div>
</div>
<!--  Body -->
<div class="row-fluid "><div class="span6 offset3 page">

<%= yield %>

 </div></div>

<!-- Footer -->
 <div class="row-fluid footer "><div class="span6 offset3">

<div class="row-fluid">
<div class="span4 subfooter">
<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">Menu</a></li>
	<li><a href="#">Contact</a></li>
</ul>

</div>
<div class="span4 subfooter2">This is the footer 2</div>
<div class="span4 subfooter">
<%= image_tag("facebook_32.png", :alt => "facebook") %>
<%= image_tag("rss_32.png", :alt => "rss feed") %>
<%= image_tag("twitter_32.png", :alt => "twitter") %>
</div>
</div>
 </div></div>
</div>
</body>
</html>
